body {
  font-family: Arial, Helvetica, sans-serif;
}
header,
footer {
  background-color: #2d2dd6;
  text-align: center;
  padding: 25px;
  color: white;
  border-radius: 10px;

}
#lastchange{
  color: #b8501c; ;
}
header {
  font-size: 45px;
}
img {
  float: right;
  margin-top: 10px;
  width: 150px;
  margin-right: 10px;
}
main {
  font-size: 25px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top: 30px;
  padding-bottom: 5px;
  border-color: black;
}