body {
  font-family: "Rokkitt", serif;
}
header,
footer {
  background-color: #1a329e;
  text-align: center;
  padding: 25px;
  color: white;
  border-radius: 10px;
}
#byuilink:link {
  color: #dce2f9;
}
#byuilink:visited {
  color: #f7dee2;
}
#lastchange {
  color: #b9f3d1;
}
header {
  font-size: 45px;
  font-family: "Vollkorn SC", serif;
}
img {
  float: right;
  margin-top: 10px;
  width: 150px;
  margin-right: 10px;
}
main {
  font-size: 25px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top: 30px;
  padding-bottom: 5px;
  border-color: black;
}
