h1 {
    color: seagreen;
    text-align: center;
}
[data-src] {
    filter: blur(0.2em);
    padding: 20px;
    
}

picture img [src] {
    filter: blur(0em);
    transition: filter 0.5s;
    
    
    
}


