header, footer {
  background-color: white;
  color: #0093b8;
  border-radius: 25px;
  padding: 3px;
}
h1,
h2,
h3,
nav,nav button,
.motto {
  font-weight: normal;
}

#logo {
  float: left;
  width: 7rem;
}
h1,
.motto {
  text-align: center;
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
}
.motto {
  color: #93341a;
  padding-bottom: 25px;
  font-size: 17px;
}

nav {
  background-color: #93341a;
  font-family: "Righteous", cursive;
  letter-spacing: 1px;
  font-size: 1.25rem;
}
nav button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  letter-spacing: 3px;
}
nav ul {
  list-style-type: none;
  margin-top: 2.5%;
  padding-left: 2%;
}
nav ul li {
    padding:0.2rem
}

nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  background-color: rgb(0, 0, 0, 0.4);
}
nav ul li.active a {
  background-color: white;
  color: #93341a;
}
nav ul.hide {
  display: none;
}
h2,
h3 {
  text-align: center;
  font-family: "Righteous", cursive;
  padding: 25px;
  letter-spacing: 2px;
}
h2,
.Section2 {
  color: #0093b8;
}
.Section1 {
  background-color: #0093b8;
  color: white;
}
footer {
  background-color: #0093b8;
  font-family: "Soloway", serif;
  text-align: center;
  color: white;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
