@media only screen and (min-width: 78rem) {
 /*----------Navigation Bar-------------*/

  nav button {
    display: none;
  }
  nav ul li {
    display: flex;
    float: left;
    align-items: center;

  }
  nav ul.hide {
    display: block;
  }
  nav ul li a {
    border: none;
    padding: .5rem 2rem;
    font-size: 1.5rem;
  }

  h2,
  h3 {
    text-align: center;
  }
  /*-----------Weather Summary Floating Box----------*/
  main section.Weathersummary {
    width: 25%;
    position: absolute;
    top: 350px;
    left: 125px;
    background-color: #99341a;
    border: 1px solid #000;
    opacity: 0.8;
    color: #fafeff; 
    font-size: 1rem;
  }

  main section img#currentweather {
    float: right;
    width: 35%;
  }
  main section.Article {
    width: 100%;
  }
  main section.Article img.articleimg {
    width: 20%;
    float: right;
    padding: 25px;
  }
  main section.Article img.articleimg2 {
    width: 20%;
    float: left;
    padding: 25px;
  }
  div.gallerytable {
    display: grid;
    grid-template-columns: 300fr 300fr 300fr;
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
  }
}
