@media only screen and (min-width: 36rem) {
  nav {
    font-family: "Righteous", cursive;
  }

  nav ul li a {
    padding: 0%;
    font-size: 1.25em;
  }
  footer,
  h1,
  h2 {
    text-align: center;
    font-size: 2em;
  }

  #currentweather {
    width: 10%;
    float: right;
  }
  /*--------------5 Day Forecast Table----------------*/
  .forecasttable {
    display: grid;
    grid-template-columns: 7.5fr 7.5fr 7.5fr 7.5fr 7.5fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr;
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
  }

  #day1cond {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  #day1temp {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  #day2cond {
    grid-row-start: 2;
    grid-column-start: 2;
  }
  #day2temp {
    grid-row-start: 3;
    grid-column-start: 2;
  }
  #day3cond {
    grid-row-start: 2;
    grid-column-start: 3;
  }
  #day3temp {
    grid-row-start: 3;
    grid-column-start: 3;
  }
  #day4cond {
    grid-row-start: 2;
    grid-column-start: 4;
  }
  #day4temp {
    grid-row-start: 3;
    grid-column-start: 4;
  }
  /*----------Gallery Page Table--------------*/
  div.gallerytable {
    display: grid;
    grid-template-columns: 300fr 300fr;
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
  }
  footer div.socialtable {
    display: grid;
    grid-template-columns: repeat(3, 50px);
  }
  footer div.socialtable img {
    width: 100%;
  }
}
