/*--------------------Main body--------------*/
body {
  margin: 10px;
  background-color: #fafeff;
}
header,
footer {
  color: #0093b8;
  padding: 3px;
}
h1,
h2,
h3,
nav,
nav button,
.motto {
  font-weight: normal;
}

#logo {
  float: left;
  width: 7rem;
}
#banner {
  color:#fafeff;
  background-color: #002129;
  text-align: center;
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  font-weight: normal;
}
h1,
.motto {
  text-align: center;
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
}
.motto {
  color: #93341a;
  padding-bottom: 25px;
  font-size: 17px;
}
/*--------------Navigation Bar-------------*/

nav {
  background-color: #002129;
  font-family: "Righteous", cursive;
  letter-spacing: 1px;
  font-size: 1.25rem;
}
nav button {
  background-color: transparent;
  border: none;
  color: #fafeff;
  font-size: 30px;
  letter-spacing: 3px;
}
nav ul {
  list-style-type: none;
  margin-top: 2.5%;
  padding-left: 2%;
}
nav ul li {
  padding: 0.2rem;
}

nav ul li a {
  text-decoration: none;
  color: #fafeff;
}
nav ul li a:hover {
  background-color: #93341a;
}
nav ul li.active a {
  background-color: #fafeff;
  color: #002129;
}
nav ul.hide {
  display: none;
}

/*-------------Weather Conditions-------------*/

h2 {
  text-align: center;
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
}
main section.titleandimg, main section.imggallery {
  color: #0093b8;
  width: 90%;
}
main section {
  margin: 0 auto;
  padding: 20px;
}
main section.titleandimg img#heroimage {
  width: 100%;
}
#phototag {
  font-size: 0.8em;
  color: #002129;
  font-family: "Caudex", serif;
}
#phototag a {
  color: #93341a;
}
#phototag a:visited {
  color: #93341a;
}

p {
  font-family: "Caudex", serif;
}

main section.Article img.articleimg,
main section.Article img.articleimg2 {
  width: 100%;
}
#currentweather {
  width: 25%;
  float: right;
}
.fiveday, .imggallery {
  background-color: #fafeff;
  color: #93341a;
}
.Weathersummary,
.Article {
  background-color: #93341a;
  color: #fafeff;
}
.days,
.temp {
  display: flex;
  justify-content: center;
  font-family: "Righteous", cursive;
  font-style: normal;
  letter-spacing: 2px;
  color: #fafeff;
}
.days {
  padding: 25px;
  font-size: 24px;
  background-color: #93341a;
}
.temp {
  padding: 15px;
  font-size: 16px;
  background-color: #002129;
}
.weathercond {
  background-color: #fafeff;
  width: 50%;
  position: relative;
  left: 20%;
  padding: 20px;
}

footer {
  background-color: #002129;
  font-family: "Caudex", serif;
  text-align: center;
  color: #fafeff;
  padding: 25px;
}
.social {
  width: 32px;
  padding: 2.5%;
}
.map {
  width: 100%;
}
div.gallerytable figure {
  background-color: #002129;
}
div.gallerytable figure img {
  width: 100%;
}
div.gallerytable figure figcaption.gallerycap {
  font-family: "Righteous", cursive;
  color: #fafeff;
  text-align: center;
  font-style: normal;
  letter-spacing: 2px;
  padding: 10px;

}
div.gallerytable figure:hover {
  box-shadow: 0 0 50px #002129;
}
/*----- Storm Center Form -----------*/
h3 {
  font-family: "Righteous", cursive;
  font-size: 2rem;
  color: #93341a;
}
body form {
  padding: 1rem;
  font-family: 'Caudex' , serif;
  max-width: 24rem;
}
body form fieldset {
  border: none;
  border-radius: 20px;
  padding: 1rem 0;
  margin: 1.5rem 0;
  background-color: #0093b8;
}
body form fieldset legend {
  font-family: 'Righteous', cursive;
  color: #0093b8;
  font-size: 1.5rem;
}

.top, body form fieldset div {
  display: block;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  width: 100%;

}
form label.top input, form label.top select {
  display: block;
  font-size: 1.25rem;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  color: #002129;
  width: 100%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: #93341a solid 6px;
}

form label.top input:required:valid {
  border-left: #106326 solid 6px;
}

body form fieldset div.custom-vertical-radio-buttons {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.customcontainer {
	position: relative;
	margin-bottom: 12px;
	padding-left: 30px;
  padding-bottom: 30px;
	cursor: pointer;
	font-size: 1.25rem !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.customcontainer input {
  position: absolute;
  opacity: 0;
  display: none;
  cursor: pointer;
}
.custom-radio-button {
	position: absolute;
	top: 5px;
	left: 0;
	height: 15px;
	width: 15px;
	border: 1px solid #fafeff;
	border-radius: 50%;
}
.customcontainer input ~ .custom-radio-button{
  background-color: #fafeff;
}
.customcontainer input:checked ~ .custom-radio-button{
  background-color: #93341a;
}
.customcontainer input:checked ~ .custom-radio-button::after {
  display: block;
}

.sbs .custom-radio-button::after {
  top: 4px;
  left: 4px;
  width: 5px;
  height: 5px;
  background-color: #002129;
}
body form label input.submitBtn {
  border: none;
  background-color: #93341a;
  color: #fafeff;
  border-radius: 15px;
  font-family: "Righteous", cursive;
  font-size: 2rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 24rem;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
