@media only screen and (min-width: 78rem) {
  nav button {
    display: none;
  }
  nav ul li {
    float: left;
    padding: 0.5rem;
  }
  nav ul.hide {
    display: block;
  }
  nav ul li a {
    border: none;
    padding: 0.5rem 2rem;
    font-size: larger;
  }

h2, h3 {
  text-align: center;
}
.Weathersummary{
  position: absolute;
  top: 350px;
  background-color: #99341a;
  border: 1px solid #000;
  opacity: 0.9;
  color: white;
}
}
